section{
    td, th{border:1px solid;padding:10px;text-align: center}
    .addEvent{

    }
    th{
      width: 115px;
    }
    td, .dateElement{
        background-color: white;
    }
    .selected {
        background-color: aquamarine;
    }

    .dateButton{
        padding:10px;
        width: 100%;
    }


  #prompt {
    position: absolute;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #cccccc;
    width: 800px;
  }


}
